/* src/app/components/home/home.component.css */
@import "material-icons/iconfont/material-icons.css";

:host {
  display: block;
  width: 100%;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
