@import "tailwindcss";

@theme {
  --font-dm-serif: "DM Serif Text", serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family:
    DM Sans,
    sans-serif;
  font-size: large;
  font-weight: 300;
}

:root {
  --primary-color: #3f51b5;
  --primary-lighter: #c5cae9;
  --primary-darker: #303f9f;
  --accent-color: #ff4081;
  --warn-color: #f44336;
}

.dark {
  --primary-color: #5c6bc0;
  --primary-lighter: #7986cb;
  --primary-darker: #3949ab;
}

.text-primary {
  color: var(--primary-color);
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.dark .dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
}
